<div class="row text-left">

    Salary:<input text type="number" class="x-input-positive" ng-model="calculatorController.salary" ng-keyup="calculatorController.getTotal()"/>
    <br/>
    Tax:<input text type="number" ng-model="calculatorController.tax"  ng-keyup="calculatorController.getTotal()"/>
    <br />

    <h3>{{calculatorController.total}}</h3>
    <x-hello-world/>
    <br/>
    <h1>{{calculatorController.hello}}</h1>
    <br/>
    <h1>{{calculatorController.sayMyName}}</h1>
    <br />
       

  
</div>